/* Colors */
:root {
    --pink: #CC847C;
    --yellow: #E8E2AC;
    --white: rgb(230, 230, 230);
    --blue: #88AED0;
    --black: #222222;
    --darkpink: #926051;
    --gray: #383636;
    --light-black: #2B2B2B;
    --dark-black: #101010;
    --light-gray: #a1a1a1;
}

/* Home */
.home-container {
    display: flex;
    background-size: cover;
    padding-bottom: 54px;
    padding-top: 96px;
    padding-left: 100px;
    padding-right: 100px;
}

/* Animated Background */
.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #7a5145 50%, #0a0a0a 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

/* Introduction */
.hello {
    margin-bottom: 10px;
}

p {
    font-family: 'Poppins', sans-serif;
    color: var(--white);
}

h1 {
    font-size: 60px;
    display: inline;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.first-name {
    color: var(--pink);
}

.last-name {
    color: var(--yellow);
}

.IT {
    margin-top: 10px;
}

.third-year {
    margin-top: 30px;
    font-size: 12px;
    padding-right: 200px;
}

/* Send Message Button */
.send-message-button {
    background-color: var(--blue);
    color: var(--black);
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    margin-top: 30px;
    cursor: pointer;
}

.send-message-button:hover {
    text-decoration: none;
    background-color: var(--yellow);
    color: var(--black);
}

/* Social Media Buttons */
.social-medias-container {
    margin-top: 50px;
}

.social-media {
    width: 40px;
    margin-right: 15px;
}

/* My Picture */
.jennivin-picture {
    width: 417px;
}

/* Desktop View Navbar */
#navbar {
    overflow: hidden;
    background-color: var(--darkpink);
    z-index: 99;
}

.navbar-contents {
    display: inline;
}

#navbar a {
    float: right;
    display: block;
    color: var(--white);
    text-align: center;
    padding: 15px 50px;
    text-decoration: none;
    font-size: 12px;
    border-radius: 0;
    font-family: 'Poppins', sans-serif;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar a:hover {
    background-color: #ddd;
    color: var(--pink);
    border: none;
}

.active {
    background-color: white;
    color: white;
}

.logo-navbar {
    width: 40px;
    margin-left: 50px;
    margin-top: 5px;
}

/* Mobile View Sidebar */
.sidenav {
    display: none;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    background-color: var(--darkpink);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    display: none;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
}

.sidenav a:hover {
    display: none;
    color: var(--pink);
    border: none;
}

.sidenav .closebtn {
    display: none;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* The Hamburger Menu */
.burger {
    display: none;
    color: white;
    float: right;
    margin-right: 8%;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
}

.burger:hover {
    color: var(--pink);
    border: none;
}

/* Skills */
.skills-container {
    background-color: var(--gray);
    padding: 30px;
    padding-top: 105px;
    padding-bottom: 105px;
}

/* Skills: Title */
.pl-text {
    text-align: center;
}

.programming,
.design,
.tools,
.languages,
.text,
.educ-text {
    display: inline;
    font-size: 20px;
}

.programming,
.design {
    color: var(--pink);
}

.languages,
.tools,
.educ-text {
    color: var(--yellow);
}

/* Programming Languages */
.languages-icons {
    width: 100%;
    margin: auto;
    margin-top: 50px;
}

.icon-div {
    text-align: center;
}

.pl-icon {
    width: 140px;
    margin-bottom: 10px;
}

/* Works: Designer */
.designer-container {
    background-color: var(--black);
    padding: 30px;
    display: flex;
    padding-left: 80px;
    padding-top: 100px;
}

.designer-slider {
    width: 450px;
    margin: auto;
    border: 10px solid var(--yellow);
}

.designer-p {
    font-size: 20px;
    margin-left: 10px;
}

/* Works: Artist */
.artist-container {
    background-color: var(--light-black);
    padding: 30px;
    display: flex;
    padding-right: 80px;
}

.artist-slider {
    width: 450px;
    margin: auto;
    border: 10px solid var(--pink);
}

.artist-p {
    font-size: 20px;
    margin-right: 25px;
    text-align: right;
}

.artist-pic {
    width: 500px;
}

/* Designing Tools */
.tool-container {
    display: flex;
    background-color: var(--gray);
    padding-top: 40px;
    padding-bottom: 40px;

}

/* My Cartoon */
.jennivin-cartoon-div {
    text-align: center;
    width: 40%;
    padding-left: 100px;
}

.jennivin-cartoon {
    width: 300px;
}

/* Design Tools: Title */
.dt-text {
    text-align: center;
}

.design-tools {
    width: 60%;
}

/* Design Tools: Icons */
.tools-icon {
    display: flex;
    text-align: center;
}

.tool {
    width: 90px;
}

.design-tool-div {
    width: 100%;
    margin-top: 40px;
}

.tool-name {
    margin-top: 10px;
}

.tool-details {
    color: var(--light-gray);
}

/* Education */
.education-container {
    background-color: var(--black);
    padding-bottom: 50px;
}

/* Education: Title */
.educ-text-div {
    padding: 10px;
    padding-top: 85px;
    text-align: center;
}

/* Education: Boxes */
.educ-div {
    width: 100%;
}

.box {
    background-color: var(--gray);
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.school-logo {
    width: 130px;
    margin-bottom: 20px;
}

.year,
.achievements {
    color: var(--light-gray);
    font-size: 12px;
}

/* Footer */
.footer-container {
    background-color: var(--dark-black);
    padding: 50px;
    text-align: center;
}

.logo-footer {
    text-align: center;
}

.logo-footer-pic {
    width: 80px;
}

.quote {
    margin-top: 10px;
    font-size: 17px;
}

.copyright {
    font-size: 11px;
    color: var(--light-gray);
}


/* Responsiveness */
@media screen and (max-width: 984px) {
    .third-year {
        padding-right: 0;
    }
}

@media screen and (max-width: 1231px) {
    .designer-pic {
        width: 100%;
        padding-right: 50px;
    }

    .artist-pic {
        width: 80%;
        padding-left: 50px;
        float: right;
    }

    .educ-div {
        margin: 0;
    }

    .designer-container,
    .artist-container {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 794px) {
    .home-container {
        padding: 50px;
    }

    .jennivin-picture {
        width: 100%;
    }

    .picture-container {
        margin: auto;
    }

    .jennivin-cartoon-div {
        padding: 0;
        width: 50%;
    }

    .tool-container {
        padding: 40px;
        width: 100%;
    }
}

@media screen and (max-width: 722px) {
    .home-container {
        flex-direction: column;
        text-align: center;
    }

    .picture-container {
        margin-top: 50px;
        width: 100%;
    }

    .designer-container {
        flex-direction: column;
        text-align: center;
    }

    .artist-container {
        flex-direction: column-reverse;
    }

    .designer-text,
    .artist-text {
        margin: auto;
        text-align: center;
    }

    .designer-slider,
    .artist-slider {
        margin-top: 50px;
        width: 100%;
    }

    .artist-p {
        text-align: center;
    }

    .artist-pic,
    .designer-pic {
        padding: 0;
        width: 100%;
    }

    .tool-container {
        flex-direction: column-reverse;
    }

    .design-tools {
        width: 100%;
        margin-bottom: 50px;
    }

    .jennivin-cartoon-div {
        width: 100%;
    }

    .sidenav {
        display: block;
    }

    .sidenav a {
        display: block;
    }

    .sidenav a:hover {
        display: block;
    }

    .sidenav .closebtn {
        display: block;
    }

    .burger {
        display: block;
    }

    .navbar-contents {
        display: none;
    }
}

@media screen and (max-width: 365px) {

    .first-name,
    .last-name {
        font-size: 15vw;
    }

    .jennivin-cartoon {
        width: 100%;
    }

    .tools-icon {
        flex-direction: column;
    }

}